:root {
    margin: auto;
}

@media (max-width: 1920px) {
    :root {
        width: 55%;
    }
}

@media (max-width: 1440px) {
    :root {
        width: 65%;
    }
}

body {}

h1 {
    text-align: center;
}

ol {}

p {
    font-size: 14pt;
    line-height: 150%;
    text-align: justify;
}